<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Your app title -->
  <title>Application Title</title>

  <!-- Framework7 iOS theme styles --> <!-- uncomment this for IOS theme -->
  <!--<link rel="stylesheet" href="/packages/hok_framework7-ios-material/framework7/dist/css/framework7.ios.min.css">-->
  <!--<link rel="stylesheet" href="/packages/nobutakaoshiro_framework7-ios-material/framework7/dist/css/framework7.ios.colors.min.css">-->

  <!-- Material(Android) theme styles --> <!-- comment this out for IOS theme -->
  <link rel="stylesheet" href="/packages/keanghok_framework7/framework7/dist/css/framework7.material.min.css">
  <link rel="stylesheet" href="/packages/keanghok_framework7/framework7/dist/css/framework7.material.colors.min.css">
</head>

<body>
  
  {{> MainLayout}}

</body>
