<template name="Page2">
    <!-- Each next item will on different side -->
	<div class="content-block-title">Time line View Page 2</div>
	<div class="timeline timeline-sides">
		<div class="timeline-item">
		<div class="timeline-item-date">21 <small>DEC</small></div>
		<div class="timeline-item-divider"></div>
		<div class="timeline-item-content">
			<div class="timeline-item-inner">Some text goes here</div>
		</div>
		</div>
		<div class="timeline-item">
		<div class="timeline-item-date">22 <small>DEC</small></div>
		<div class="timeline-item-divider"></div>
		<div class="timeline-item-content">
			<div class="timeline-item-inner">Another text goes here</div>
		</div>
		</div>
		<div class="timeline-item">
		<div class="timeline-item-date">23 <small>DEC</small></div>
		<div class="timeline-item-divider"></div>
		<div class="timeline-item-content">
			<div class="timeline-item-inner">Just plain text</div>
		</div>
		</div>
		<div class="timeline-item">
		<div class="timeline-item-date">24 <small>DEC</small></div>
		<div class="timeline-item-divider"></div>
		<div class="timeline-item-content">
			<div class="timeline-item-inner">One more text here</div>
		</div>
		</div>
	</div>
</template>