<template name="Page1">
    <div class="content-block-title">Page 1 Card Component</div>
    <div class="card">
      <div class="card-header">Header 12</div>
      <div class="card-content">
        <div class="card-content-inner">Card content</div>
        <div class="card-footer">Footer</div>
      </div>
    </div>
  </template>