<template name="MainLayout">
	<div class="statusbar-overlay"></div>
	<!-- Panels overlay-->
	<div class="panel-overlay"></div>
	<!-- Left panel with reveal effect-->
	<div class="panel panel-left panel-reveal">
	<div class="content-block">
		<p>Left panel content goes here</p>
	</div>
	</div>
	<!-- Views -->
	<div class="views">
	<!-- Your main view, should have "view-main" class -->
	<div class="view view-main">
		<!-- Top Navbar-->
		<div class="navbar">
		<div class="navbar-inner">
			<!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
			<div class="center sliding">Awesome App</div>
			<div class="right">
			<!-- Right link contains only icon - additional "icon-only" class
				Additional "open-panel" class tells app to open panel when we click on this link -->
			<a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
			</div>
		</div>
		</div>
		<!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
		<div class="pages navbar-through toolbar-through">
		<!-- Page, "data-page" contains page name -->
		<div data-page="index" class="page">
			<!-- Scrollable page content -->
			<div class="page-content">
				<p>Page content goes here</p>
				{{> section name="body"}}
			</div>
		</div>

		</div>
		<!-- Bottom Toolbar-->
	{{> ToolBar}}
	</div>
	</div>
</template>